@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "My-Project-Font";
}

@font-face {
  src: url(./Poppins-Regular.ttf) format("truetype");
  font-family: "My-Project-Font";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(./Poppins-Medium.ttf) format("truetype");
  font-family: "My-Project-Font";
  font-style: normal;
  font-weight: 500;
}

@layer components {
  .center {
    @apply flex justify-center items-center
  }
}